<div *ngFor="let ronaldo of ronaldo">
    <div class="container-main">
        <h2>Infografia {{ronaldo.nombre}}</h2>
        <div class="centrar">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" [src]="ronaldo.img">
                </div>
            </div>
        </div>
    </div>

    <div>
        Nombre: {{ronaldo.nombre}} <br> Bio: {{ronaldo.bio}} <br> Equipo: {{ronaldo.equipo}} <br> Imagen: {{ronaldo.img}} <br> Nacimiento: {{ronaldo.nacimiento}} <br> Seleccion: {{ronaldo.seleccion}}
    </div>
    <div class="boton">
        <a [routerLink]="['/jugadores']" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Home</a>
    </div>
</div>