<div class="container-main">
    <h2>Infografia jugadores</h2>
    <div class="centrar">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/messi.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4><a class="nav-link active link" [routerLink]="['/messi']">Messi</a></h4>
                </div>

            </div>
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/ronaldo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4><a class="nav-link active link" [routerLink]="['/ronaldo']">Ronaldo</a></h4>
                </div>

            </div>
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/james.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4><a class="nav-link active link" [routerLink]="['/james']">James</a></h4>
                </div>
            </div>
        </div>
    </div>